.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 640px) {
  .signup-box-container {
    width: 90%;
    padding: 30px;
  }

  .signup-title {
    font-size: 28px !important;
  }

  .signup-form {
    grid-template-columns: 1fr;
  }
}
